/* HomeProduct.css */

.homeContainer {
  padding: 20px;
  text-align: center;
}

.currenttitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3a88ae;
  background-image: linear-gradient(75deg, #4c9cc5 34%, #233c89 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rocket {
  margin-left: 10px;
  font-size: 2rem;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 0;
  color: #fff;
  text-transform: capitalize;
}

.productcard {
  border-radius: 8px;
  overflow: hidden;

  background: rgb(76, 156, 192);
  background: linear-gradient(
    183deg,
    rgba(76, 156, 192, 1) 33%,
    rgba(35, 60, 137, 1) 86%
  );

  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.productcard:hover {
  transform: translateY(-10px);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.productName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.productPrice {
  font-size: 1rem;
  color: #ffffff;
}

.createlink {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.createlink:hover {
  color: #2980b9;
}
